/* Custom properties/variables *heavily modified version of frrcode camps amazing portfolio website cert  */
:root {
  --main-white: #e8acdc;
  --main-red: #be3144;
  --main-blue: #4fb8bc9c;
  --main-gray: #000000;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing   ,*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  cursor: crosshair;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;                                                   
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #363434;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ff00af;
}

img {
  display: block;
  width: 100%;
  
}
/*swc !!!!!!!%%%%!!!!!! addon*/


  

.swc{
  display: flex;

padding-left:40%;

  
}



/* nav */

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000;
  box-shadow: inset -11px 11px 0 rgb(0 0 0 / 40%);
  z-index: 10;
  flex-direction: row-reverse;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}
/* hover settings for top tab */
.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  transition: all 0.9s ease-out;
}

.nav-list a:hover {
  background: var(--main-blue);
}

/* Welcome section */

.welcome-section {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #443d95;
  background-image: linear-gradient(74deg, #78d97d 0%, #c68eff 100%);
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #765cff;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-image: linear-gradient(74deg, #78d97d 0%,  #edf640 50%,  #c68eff 100%);

}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 2.5s ease-out;
  
}

.project:hover .code {
  color: #fb02ff;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #000000;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: chartreuse;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid #ff0000;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
/* footer addional mod*/
.ty:hover {
  color: #62ff00;
  transform: translateY(8px);
  cursor:grabbing;
}

.ball {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background: #ff00af;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
  border: 10px solid rgb(165, 63, 255);
}


.theBallsBox{

 background-image:  linear-gradient(74deg, #173018, #c68eff 50% ,purple,yellow );
 padding: 350px;
 overflow: auto;
 resize: both;
 
}




.anti {
  background-color: blue;
  border: solid 1.5px rgb(255, 34, 34);
 
  text-align: center;
  padding: 2px;
  margin-left: 50px;
  margin-top: 0px;
   position:static;
  rotate: 0deg;
  text-decoration: underline;
  color: rgb(253, 102, 228);
  animation-name: a;
  animation-duration: 18s;
  animation-iteration-count: infinite;
 }


 @keyframes a {

  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-1800px) rotate(-360deg);
  }

  30% {
    transform: translateX(1500px) rotate(60deg);
  }

  45% {
    transform: translateY(-700px) rotate(-360deg);
  }

  60% {
    transform: translateX(90px) rotate(180deg);
  }

  75% {
    transform: translateX(-60px) rotate(-1.2deg);
  }

  80% {
   transform: translateY(1500px)   rotate(0deg);
  }
} 

/* simple rotate
@keyframes a {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
} */


.rain {
  animation: rainbow 20s infinite linear;
}

.colors:hover {
  animation: rainbow 20s infinite linear;

}


@keyframes rainbow {

  0% {
    color: rgb(255,0,0);
  }

  12% {
    color: rgb(238,125,15);    
  }

  25% {
    color: rgb(240,232,16);    
  }
  
  37% {
    color: rgb(70,240,16);    
  }
  
  50% {
    color: rgb(16,230,240);    
  }
  
  62% {
    color: rgb(16,85,240);    
  }
  
  75% {
    color: rgb(100,16,240);    
  }
  
  87% {
    color: rgb(220,16,240);    
  }

  100% {
    color: rgb(255,0,0);
  }

}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: grid;
  place-items: center;
}
.glitch {
  font-size: 6rem;
  color: #fd1fe75b;
  letter-spacing: 0.6rem;
  animation: glitch 0.2s infinite forwards;
  animation-direction: alternate-reverse;
  position: relative;
  user-select: none;
}

.glitch::before {
  content: "ViSion";
  position: asolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  animation: glitch1 1.2s infinite forwards;
  animation-direction: alternate-reverse;
  text-shadow: #5df300;
}
.glitch::after {
  content: "SteadyReady";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(10%);
  animation: glitch2 0.9s infinite forwards;
  animation-direction: alternate-reverse;
  text-shadow: none;
  color: linear- #fbfbfb;
}

@keyframes glitch {
  20% {
    text-shadow: 3px 0 #00ffff, 5px 10px #ff01ae;
  }
  80% {
    text-shadow: 0 12px #ff01ae, 0 -12px #00ffff;
  }
  100% {
    text-shadow: 9px 0 #00ffff, -9px 0 #ff01ae;
  }
}

@keyframes glitch1 {
  to {
    transform: translate(-30px, -50%);
    opacity: 0;
  }
}

@keyframes glitch2 {
  to {
    transform: translate(30px, -50%);
    opacity: 0;
    
  }
}
.game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}
#character{
  width: 20px;
  height: 50px;
  background-color: red;
  position:relative;
  top: 150px;
}
.animate{
  animation: jump 0.3s linear;
}
@keyframes jump{
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

#block{
  background-color: blue;
  width: 20px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 500px;
  animation: block 1s infinite linear;
}
@keyframes block{
  0%{left: 500px}
  100%{left: -20px}
}
p{
  text-align: center;
}